/* estilos Generales*/
*{
    font-size: 1.1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
}
.plate > button > p{
    z-index: 10;
    background: linear-gradient(48deg, rgb(0, 64, 138),rgb(0, 134, 196),  rgb(49, 120, 133) ) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    color: transparent;

}

button {
    width: 170px;
    height: 50px;
    border-radius: 4px/6px;
    user-select: none;
    font-size: 1rem;

}
body {
  background:rgb(221, 255, 252);
}
/* estilos Home*/
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}
.home > button{
    margin-top: 10%;
}
/* estilos MealsList*/

.plate {
    display: flex;
    height: 100%;
    border-radius: 45%;
    background-color: rgb(240, 240, 240);
    width:40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.plate > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  padding: 10px;
  overflow: visible;
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 45%;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.plate > button > p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(48deg, rgb(0, 64, 138), rgb(0, 134, 196), rgb(49, 120, 133));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plate>button>i {
    font-weight: bold;
}
.plate:hover{
    rotate: -6deg;
    transition: rotate 0.4s ease ;
}
.plate:not(:hover){
    rotate: 0deg;
    transition: rotate 0.4s ease ;
}

.base{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.send > button {
    
    width: 170px;
    height: auto;
    height: 50px;
    border-radius: 4px/6px;
    user-select: none;
    font-size: 1rem;
}


.meals > h2{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    width: 32rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 10% / 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: rgb(139,188,218);
    color:rgb(0, 162, 255);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
.meals > button:first-child{
    background-color: rgba(171, 195, 255, 0.7);
    color: rgb(0, 162, 255);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 1.2rem;
}

.send > p{
    width: fit-content;
    margin-left: auto;
    margin-right: 19px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.send >div{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.send>div >button:hover {
    cursor:pointer
}


.cart {
    margin-top: 6%;
    position: sticky;
    top: 0;
    
}
.cart > h3{
    width: 21vw;
    border-radius: 10px/7px;
    padding: 2%;
    border: 3px solid black;
    background-color: rgba(171, 195, 255, 0.7);
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2rem;
    color:rgb(0, 162, 255);
}
.cart >ul{
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    border-radius: 4%/6%;
    background-color: rgb(178, 224, 241);
    max-height: 50vh;
    overflow-y: scroll;
    padding-right: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.cart > ul >li {
    margin-top: 10px;
    list-style-type: none;
    border-radius: 50% !important;
}


.cart > ul > li {
    height: auto;
}
.ticket{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-bottom:3px ;
    border-bottom: 1px solid rgb(121, 121, 121);
}
.ticket > div {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ticket > div> button {
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    background-color: rgba(250, 128, 114, 0.4);
    border-color: rgb(255, 55, 32);
    font-weight: bolder;
    cursor: pointer;
}
.ticket > div> button:hover {
    background-color: rgba(250, 128, 114, 0.7);
}


.meals-grid {
    width:70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 4rem;
    padding: 1rem;
    height: 75vh;
    overflow-y: scroll;
    border-radius: 6px /14px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0,0.1);
    background-color: rgba(1, 39, 132, 0.7);
}

.meals-grid > li {
    border:1px solid rgba(0, 0, 0,0.2);
    list-style-type: none;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: calc(70vw/(2.71 * 3));
    margin:5px;
    padding: 30px;
    border-radius:  4px/6px;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.6) 50%,rgba(1, 39, 132, 0.7) 50%), linear-gradient(90deg, rgb(255, 255, 255) 50%,rgb(1, 39, 132)0%);
    background-size: 3rem 3rem;
}

.meals-grid > li >button:hover {
    transform: scale(1.06);
    background-color: #eef7ff;
    cursor: pointer;
}

@media screen and (max-width: 414px){
    li{
        padding-left:0 !important; 
        padding-right:0 !important; 
    }
    ul{
        padding-left:0 !important; 
        padding-right:0 !important;
        gap: 1rem !important;
    }
    .meals{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgba(1, 39, 132, 0.7);
    }
    
    .meals > h2{
        width: 80%;
        height: fit-content;
        margin-bottom: 0;
        z-index: 3;
        font-size: 1.3rem;
        background-color: rgba(171, 195, 255, 0.7);
    }
    .meals > button:first-child {
        justify-content: center;
        align-items: center;
    }
    .meals-grid {
        scrollbar-width: thin;
        scrollbar-color: black gray;
        width: 100%;
        height: 47vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40vw, 0.1fr));
        align-items: center;
        justify-content: center;
        gap: 0;
        border-radius: 0;
        background-color: white;
    }
    .meals-grid >li{
        width: 100%;
        height: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin:0;
    }
    .base {
        flex-direction: column;
    }
    .cart{
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-radius: 4px /10px;
        position: absolute;
        top: calc(100% - 35vh);
        background-color: rgba(171, 195, 255, 0.7);
        height: 35vh;
        align-items: flex-start;
        margin-top: 0;
        border-radius: 0;
    }
    
    .cart > h3{
        width: calc(100% - 2%*2 - 3px*2);
        border-color: rgba(0, 0, 0, 0);
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 3;
        background-color: rgb(51, 90, 187);
        border-radius: 0;
        text-shadow: 1px 1px 1px black;
    }
    .cart > ul{
        
        height: 15vh;
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: black gray;
        margin-bottom: 0px;
        gap: 0;
        background-color: rgba(171, 195, 255, 0.7);
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
    .cart> ul > li{
        width: 100%;
        z-index: 2;
        margin-top: 0;
        height: 8vw;
    }
    .ticket{
        border-bottom: 0;
    }
    .ticket > div{
        margin: 0;
        margin-left: 5px;
    }
    .ticket > p {
        margin-right: 10px;
    }
    .send{
        width: 100vw;
    }
    .send > p{
        margin-bottom:0;
        margin-top: 0px;
        bottom: 10px;
        right: 0px;
        background: rgb(178, 224, 241);
        padding: 3%;
        z-index: 0;
        background-color: rgba(171, 195, 255, 0.7);
        margin-right: 0;
    }
    .send >div > button{
        justify-content: space-between;
    }
    body{
        margin: 0 !important;
        background-color: rgba(171, 195, 255, 0.7);
        height: 80vh;
    }
    .plate {
        width: 80%;
        height: 80%;
        padding: 10px 0;
    }

    .plate > button {
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 10%;
    }

    .plate > button > p {
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .plate:hover{
        rotate: 0deg;
        transition: rotate 0s;
    }
    .plate:not(:hover){
        rotate: 0deg;
        transition: rotate 0s;
    }
}


