/* estilos Generales*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-weight:400;
    font-size: 1.1rem;
    user-select: none;
    
}
.plate > button > p{
    z-index: 10;
    background: linear-gradient(48deg, rgb(0, 64, 138),rgb(0, 134, 196),  rgb(49, 120, 133) ) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;
    color: transparent;

}

button {
    width: 170px;
    height: 50px;
    border-radius: 4px/6px;
    user-select: none;
    font-size: 1rem;

}
body {
  background:rgba(171, 195, 255, 0.7);
}
/* estilos Home*/
.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.home > h1{
    padding: 10px 3vw;
    background-color: white;
    margin-top: 4.2vh;
    border-radius: 16px / 10px;
    border: 1px solid black;
    font-size:1.5rem;
}
.home > button{
    margin-top: 6%;
}
/* estilos MealsList*/

.plate {
    display: flex;
    height: 100%;
    border-radius: 45%;
    background-color: rgb(240, 240, 240);
    width:40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 15px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.plate > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  padding: 10px;
  overflow: visible;
  background-color: rgb(243, 243, 243);
  border: none;
  border-radius: 45%;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.plate > button > p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(48deg, rgb(0, 64, 138), rgb(0, 134, 196), rgb(49, 120, 133));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plate>button>i {
    font-weight: bold;
}
@media (hover: hover) {
	.plate:hover{
	    rotate: -6deg;
	    transition: rotate 0.4s ease ;
	}
}
.plate:not(:hover){
    rotate: 0deg;
    transition: rotate 0.4s ease ;
}

.base{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.send > button {
    
    width: 170px;
    height: auto;
    height: 50px;
    border-radius: 4px/6px;
    user-select: none;
    font-size: 1rem;
}


.meals > h2{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    width: 32rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 10% / 50%;
    border: 3px solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color:rgb(0, 162, 255);
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}
.meals > button:first-child{
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 162, 255);
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 1.05rem;

}

.send > p{
    width: fit-content;
    margin-left: auto;
    margin-right: 19px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.send >div{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
@media (hover: hover) {
	.send>div >button:hover {
	    cursor:pointer
	}
}

.cart {
    margin-top: 6%;
    position: sticky;
    top: 0;
    
}
.cart > h3{
    margin: 40px auto;
    width: 21vw;
    border-radius: 10px/7px;
    padding: 2%;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2rem;
    color:rgb(0, 162, 255);
}
.cart >ul{
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin:0 auto;
    border-radius: 4%/6%;
    background-color: rgb(255, 255, 255);
    height: 40vh;
    overflow-y: scroll;
    padding-right: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.cart > ul >li {
    margin-top: 10px;
    list-style-type: none;
    border-radius: 50% !important;
}


.cart > ul > li {
    height: auto;
}
.ticket{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-bottom:3px ;
    border-bottom: 1px solid rgb(121, 121, 121);
}
.ticket > div {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.ticket > div> button {
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
    background-color: rgba(250, 128, 114, 0.4);
    border-color: rgb(255, 55, 32);
    font-weight: bolder;
    cursor: pointer;
}
@media (hover: hover) {
	.ticket > div> button:hover {
	    background-color: rgba(250, 128, 114, 0.7);
	}
}


.meals-grid {
    width:70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 4rem;
    padding: 1rem;
    height: 75vh;
    overflow-y: scroll;
    border-radius: 6px /14px;
    box-shadow: 1px 1px 40px rgba(0, 0, 0,0.1);
    background-color: white;
}

.meals-grid > li {
    border:1px solid rgba(0, 0, 0,0.2);
    list-style-type: none;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: calc(70vw/(2.71 * 3));
    margin:5px;
    padding: 30px;
    border-radius:  4px/6px;
    background:linear-gradient(180deg, #ffffff99 50%,#012784b3 50%), linear-gradient(90deg, #ffffff 50%,#012784 0%);
    background-size: 3rem 3rem;
}
@media (hover: hover){
	.meals-grid > li >button:hover {
	    transform: scale(1.06);
	    background-color: #eef7ff;
	    cursor: pointer;
	}
}
.mensaje-exito {
  background-color: #d4edda; 
  color: #155724; 
  padding: 1rem; 
  margin-top: 1rem; 
  position: absolute;
  bottom: 4%; 
  right: 0;
  width: 20% ;
}

.formulario > h2 {
    border-radius: 15px /10px;
    background-color: #eef7ff;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    margin-top: 2%;
    
}
.formulario > button{
    display:block;
    margin: 0 auto;
    margin-top:2vh;
}
.formulario > form > div{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 16px/12px;
    padding-bottom:5vh;
}
.formulario > form > div > label{
    display: block;
    margin-top: 10vh;
}
.formulario > form > div > button[type=submit]{
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.formulario > form > div> input[type="text"], .formulario > form > div> input[type="password"]{
    border-radius: 16px /10px;
    margin: 0 auto;
    text-align: center;

}
.formulario > form >button{
    margin: 0 auto;
    display: block;
}

#root:has(div.pedidos){
    width: 80vw;
}
.pedidos > ul{
    list-style: none;
    display: flex;
    flex-direction:row;
    gap: 10vw;
    width: 80vw;
    flex-wrap: wrap;
}

.pedidos>ul>li{
    width: 20vw;
}
.pedido > ul >li >div{
	display:grid;
	grid-template-columns: repeat(2, 0.5fr);
}
.pedido > ul > li > div >p{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	height:fit-content;
	font-size:1.1rem;
}
.pedido{
    background-color: white;
    border-radius: 16px/10px;
    width: 25vw;
    height: 30vh;
    overflow-y: scroll;
    margin-left: 80px;
}
.pedido > h3{
    text-decoration: underline;
    text-align: center;
}
.pedido > p, .pedido > ul >li{
    margin-left: 20px;
}
.pedido >p >i{
    text-decoration: underline;
}
.pedido >p:nth-child(2){
    width: fit-content;
}
.pedido >p:last-child{
    width: fit-content;
    border: 1px solid black;
    margin-left:auto;
    margin-right:10px;
}
.pedidos > h2{
    width:20vw;
    text-align:center;
    background-color: white;
    border: 1px solid black;
    padding: 2%;
    border-radius:16px/10px;
    margin:0 auto;
    margin-top:30px;
}
.sesion {
    position:fixed;
    top:0;
    right:0;
    margin:0;
    padding-right:1.2vw;
}
@media screen and (max-width: 1050px){
	.pedido > ul > li > div >p{
	        width: 100%;
	        margin-left:auto;
	        margin-right:auto;
	        height:fit-content;
	        font-size:0.7rem;
	}
	#root:has(div.pedidos){
	    margin:0 auto;
	}
	#root{
	    margin-bottom:10vh;
	}
	.pedidos > h2 {
	    width:60vw;
	    margin:40px auto;
	}
	.pedidos> button{
	    display:block;
	    margin:0 auto;
	}
	.pedido{
	    background-color: white;
	    border-radius: 16px/10px;
	    width: 70vw;
	    height: 30vh;
	    overflow-y: scroll;
	    margin:0 auto;
	    margin-bottom:5vh;
	}
	.pedido>p:nth-child(2){
	    margin: 0 auto;
	}
	.pedidos {
	    width:80vw;
	    margin: 0 auto;
	}
	.pedidos > ul {
	    width:80vw;
	}
	.pedidos>ul>li{
	    width: 70vw;
	    margin:0 auto;
	}
	.pedido > ul{
	    list-style: none;
	}
    	.formulario > h2 {
	    border-radius: 15px /10px;
	    background-color: #eef7ff;
	    width: 60vw;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    text-align: center;
	    font-size: 1.5rem;
	    border: 2px solid black;
	    margin-top: 12%;
	}

	.formulario > form > div{
	    width: 70%;
	    margin: 0 auto;
	    text-align: center;
	    background-color: white;
	    border-radius: 16px/12px;
	}
	.formulario > form > div > label{
	    display: block;
	    margin-top: 10vh;
	}
	.formulario > form > div > button[type=submit]{
	    margin-top: 10vh;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.formulario > form > div> input[type="text"], .formulario > form > div> input[type="password"]{
	    border-radius: 16px /10px;
    	    margin: 0 auto;
    	    text-align: center;
	    width:70%;
	}
	.formulario > form >button{
    	margin: 0 auto;
    	display: block;
	}
	.formulario > button{
	    display: flex;
	    margin: 0 auto;
	    margin-top: 3vh;
	    justify-content: center;
	    align-items: center;
	}
    li{
        padding-left:0 !important; 
        padding-right:0 !important; 
    }
    ul{
        padding-left:0 !important; 
        padding-right:0 !important;
        gap: 1rem !important;
    }
    .meals{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rgba(1, 39, 132, 0.7);
	height:60vh;
    }
    
    .meals > h2{
        width: 80%;
        height: fit-content;
        margin-bottom: 0;
        z-index: 3;
        font-size: 1.3rem;
        background-color: rgba(171, 195, 255, 0.7);
    }
    .meals > button:first-child {
        margin-top: 10%;
    }
    .meals-grid {
        scrollbar-width: thin;
        scrollbar-color: black gray;
        width: 100%;
        height:37vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40vw, 0.1fr));
        align-items: center;
        justify-content: center;
        gap: 0;
        border-radius: 0;
        background-color: white;
    }
    .meals-grid >li{
        width: 100%;
        height: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
        margin:0;
    }
    .base {
        flex-direction: column;
    }
    .cart{
        display: flex;
        flex-direction: column;
        width: 100vw;
        border-radius: 4px /10px;
        top: calc(100% - 35vh);
        background-color: rgba(171, 195, 255, 0.7);
        height: calc(30vh + 3%);
        align-items: flex-start;
        margin-top: 0;
        border-radius: 0;
    }
    
    .cart > h3{
        width: calc(100% - 2%*2 - 3px*2);
        border-color: rgba(0, 0, 0, 0);
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 3;
        background-color: rgb(51, 90, 187);
        border-radius: 0;
        text-shadow: 1px 1px 1px black;
    }
    .cart > ul{
        
        height: 17.1vh;
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: black gray;
        margin-bottom: 0px;
        gap: 0;
        background-color: rgba(171, 195, 255, 0.7);
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    }
    .cart> ul > li{
        width: 100%;
        z-index: 2;
        margin-top: 0;
        height: 8vw;
    }
    .ticket{
        border-bottom: 0;
    }
    .ticket > div{
        margin: 0;
        margin-left: 5px;
    }
    .ticket > p {
        margin-right: 10px;
    }
    .send{
        width: 100vw;
    }
    .send > p{
        margin-bottom:0;
        margin-top: 0px;
        bottom: 10px;
        right: 0px;
        background: rgb(178, 224, 241);
        padding: 3%;
        z-index: 0;
        background-color: rgba(171, 195, 255, 0.7);
        margin-right: 0;
    }
    .send > div{
	margin-top:0;
	align-items: center;
    }
    .send >div > button{
        justify-content: space-between;
	width:28vw;
	height:55px;
    }
    body{
        margin: 0 !important;
        background-color: rgba(171, 195, 255, 0.7);
        height: 80vh;
    }
    .plate {
        width: 80%;
        height: 80%;
        padding: 10px 0;
    }

    .plate > button {
        height: 100%;
        width: 100%;
        padding: 10px;
        margin: 10%;
    }

    .plate > button > p {
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .plate:not(:hover){
        rotate: 0deg;
        transition: rotate 0s;
    }
    .mensaje-exito {
        background-color: #d4edda; 
        color: #155724; 
        padding: 1rem; 
        margin-top: 1rem; 
        position: absolute;
        bottom: 0; 
        width: 91% ;
    }
    .sesion{ 
	position:absolute;
    }
}


